.idea/
.venv/
.vs/
.vscode/
bins/
build/
dist/
.mypy_cache/
**/.mypy_cache/
**/**/.mypy_cache/
.pytest_cache/
**/.pytest_cache/
**/**/.pytest_cache/
__pycache__/
**/__pycache__/
**/**/__pycache__/
*.DS_Store
*.egg-info
*.exe
*.lock
*.pyc
*.pyo
*.sqlite
adbkey*

*.apk
*.txt
cli.py
adblight.py